body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Open Sans Regular', sans-serif;
}

.first__column {
    max-height: 84vh;
    overflow-x: hidden;
    overflow-y: auto;
}


/* Header */
@media (min-width: 992px) {
    .col {
        width: 1068px;
        margin-left: auto;
        margin-right: auto;
    }

}

.--top {
    height: 28px;
    background-color: black;
}

.header__top {
    color: #fff;
    font-size: 11px;
    align-items: center;
    justify-content: space-between;
}

.header__top li {
    list-style-type: none;
}

.header__top,
.header__top .header__top-left,
.header__top-day,
.header__top-content,
.header__top-social,
.header-tem {
    display: flex;
}

.header-tem {
    padding: 0;
    margin: 0;
    line-height: 28px;
    margin-right: 39px;
}

.header__bottom-list li #child {
    position: absolute;
    z-index: 10;
    width: 300px;
    left: 0;
    padding: 15px 0 15px 0 !important;
    background-color: #fff;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left: 0px;
    transform: translateX(-15px);
    box-sizing: border-box;
    list-style: none;
    display: none;
}

.header__bottom-list li #child li ul {
    position: absolute;
    z-index: 10;
    width: 235px;
    top: -15px;
    left: 299px;
    background-color: #fff;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.15);
    list-style: none;
    padding: 15px 30px 15px 30px;
    box-sizing: border-box;
    display: none;
}

.header__bottom-list li #child li:hover .parent,
.header__bottom-list li #child li:hover .li-parent {
    color: #4db2ec;
}

.header__bottom-list li #child li .parent {
    position: relative;
}

.header__bottom-list li #child li .parent::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: .5px;
    background-color: #f1eaea;
    bottom: 0;
}

.header__bottom-list li #child .parent,
.header__bottom-list li #child .li-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__bottom-list li #child li {
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 35px;
}

.header__bottom-list li #child li:hover ul {
    display: block;
}

.header__bottom-list li #child li p {
    font-size: 10px;
    font-style: italic;
    margin: 0;
    line-height: 0.8rem;
    transform: translateY(-8px);
    color: gray;
}

.header__bottom-list .features:hover #child {
    display: block;
}

.header__bottom-list .features #child li {
    padding-left: 30px;
    padding-right: 30px;
}

.fa-cloud:before {
    line-height: 28px;
}

.header-tem-content {
    margin-right: 17px;
    font-size: 11px;
    font-weight: 500;
}

.header-tem-content #c {
    position: absolute;
    top: -13px;
    left: 33px;
    font-size: 11px;
    font-weight: 300;
}

.header-tem-content #child {
    position: relative;
    font-weight: 600;
    margin-left: 6px;
    font-size: 11px;
    font-family: Verdana, BlinkMacSystemFont, -apple-system, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
}

.header__top-day {
    margin-right: 36px;
}

.header__top-day p {
    margin: 0;
    line-height: 28px;
}

.header__top-content {
    padding-left: 0;
    margin: 0;
    line-height: 28px;
}

.header__top-content li {
    margin-right: 16px;
}

.header__top-content li:hover,
.header__top-social li:hover {
    color: #4db2ec;
    cursor: pointer;
}

.header__top-content li:first-child {
    margin-right: 19px;
}

.header__top-social li i {
    width: 22.8px;
    height: 22.8px;
    margin: 2.5px 5px 2.5px 0;
    text-align: center;
}

.header__top-social li i::before {
    line-height: 22.8px;
}

.header__top-social li:last-child i {
    margin: 2.5px 0;
}

.header__top-social {
    margin: 0;
}

.header__mid {
    display: flex;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 9px;
}

.header__mid .header__mid-banner1 {
    width: 30%;
    text-align: center;
}

.header__mid .header__mid-banner2 {
    width: 70%;
    text-align: end;
}

.header__mid .header__mid-banner1 .img {
    background-image: url(img/banner-img.png);
    background-position: center;
    background-size: cover;
    height: 90px;
    transform: scale(0.85);
}

.--bottom {
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.08);
}

.header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 48px;
}

.header__bottom-list li {
    list-style-type: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    padding-right: 14px;
    padding-left: 14px;
    position: relative;
    line-height: 48px;
}

.header__bottom-list {
    display: flex;
    margin: 0;
    align-items: center;
    padding-left: 0;
    max-height: 48px;
    cursor: pointer;
}

.header__bottom-list li i {
    font-size: 8px;
    margin-left: 7px;
    font-weight: 800;
    transform: translateY(-3px);
}

.header__bottom-list li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 2.5px;
    background-color: var(--td_theme_color, #4db2ec);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: width 0.2s ease;
    transition: width 0.2s ease;
}

.header__bottom-list li.li:hover::after {
    width: 100%;
}


/* dropdown */
.container-fluid {
    position: relative;
}

.container-fluid .drop-1,
.container-fluid .drop-2 {
    position: absolute;
    left: 0;
    top: 1px;
    right: 0;
    height: 340px;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.08);
    display: none;
}

.container-fluid .drop-1 .box {
    display: flex;
    width: 100%;
    height: 100%;
}

.container-fluid .drop-2 .box .tag {
    display: flex;
}

.container-fluid .drop-2 .box {
    width: 100%;
    height: 100%;
}

.container-fluid .drop-1 .box .box-1 {
    flex-basis: 15%;
    border-right: 1.5px solid rgb(243, 237, 237);
    text-align: end;
    padding: 22px;
    box-sizing: border-box;

}

.container-fluid .drop-1 .box .box-1 ul li {
    list-style: none;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 10px;
}

.container-fluid .drop-1 .box .box-1 ul {
    margin: 0;
}

.container-fluid .drop-1 .box .box-2 {
    flex-basis: 85%;
}

.drop-1 .box .box-2 .tag {
    display: flex;
    padding: 22px;
    box-sizing: border-box;
}

.drop-1 .box .box-2 .child,
.drop-2 .box .child {
    margin-left: 22px;
}

.drop-1 .box .box-2 .child:first-child,
.drop-2 .box .child:first-child {
    margin-left: 0;
}

.drop-1 .box .box-2 .child .img,
.drop-2 .box .child .img {
    position: relative;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-bottom: 70%;
}

.container-fluid .drop-2 .box {
    padding: 22px;
    box-sizing: border-box;
}

.container-fluid .drop-1 .title-next {
    margin-left: 22px;
}

.container-fluid .drop-2 .title-next {
    margin-top: 22px;
}

.drop-2 .box .child:nth-child(1) .img {
    background-image: url(img/photo.jpg);
}

.drop-2 .box .child:nth-child(2) .img {
    background-image: url(img/photo.jpg);
}

.drop-2 .box .child:nth-child(3) .img {
    background-image: url(img/photo.jpg);
}

.drop-2 .box .child:nth-child(4) .img {
    background-image: url(img/photo.jpg);
}

.drop-2 .box .child:nth-child(5) .img {
    background-image: url(img/photo.jpg);
}

.drop-1 .box .box-2 .child:nth-child(1) .img {
    background-image: url(img/girl.jpg);
}

.drop-1 .box .box-2 .child:nth-child(2) .img {
    background-image: url(img/girl.jpg);
}

.drop-1 .box .box-2 .child:nth-child(3) .img {
    background-image: url(img/girl.jpg);
}

.drop-1 .box .box-2 .child:nth-child(4) .img {
    background-image: url(img/girl.jpg);
}

.container-fluid .open {
    display: block;
}


.header__bottom-list li#first::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 2.5px;
    background-color: var(--td_theme_color, #4db2ec);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: width 0.2s ease;
    transition: width 0.2s ease;
}

#header-search {
    padding: 15px;
}

/* content */
.title-next {
    display: flex;
}

.content__trending-title {
    display: flex;
    align-items: center;
    padding: 24px 18px;
    justify-content: space-between;
}

.content__trending-title span:first-child {
    background-color: #222;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    padding: 2px 10px 1px;
    display: inline-block;
    line-height: 22px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
}

.content__trending-title span span {
    font-size: 15px;
    font-weight: 400;
    font-family: roboto, sans-serif;
}

.content__trending-title span:first-child:hover {
    background-color: #4db2ec;
}

.content__trending-title span:nth-child(2) {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 400;
    font-family: roboto, sans-serif;
}

.title-next i {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #dcdcdc;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
    color: #b7b7b7;
}

.title-next i:first-child {
    margin-right: 7px;
}

.content__trending-image .box .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.content__trending-image {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
    grid-template-rows: 250px 200px;
    padding-bottom: 30px;
}

.content__trending-image .box {
    position: relative;
    overflow: hidden;
}

.content__trending-image .box:hover img {
    transform: translate(-50%, -50%) scale(1.1);
    transition: .3s;
}

.content__trending-image .box:hover .content #title {
    background-color: #4db2ec;
    transition: .3s;
}

.content__trending-image .box .content #title {
    transition: .3s;
}

.content__trending-image .box:first-child {
    grid-area: 1/1/3/3;
}

.content__trending-image .box:nth-child(2) {
    grid-area: 1/3/2/5;
}

.content__trending-image .box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    transition: .3s;
}

.content__trending-image .box .content {
    position: absolute;
    bottom: 0;
}

.content__trending-image .box .content span:first-child {
    line-height: 13px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 10px;
    padding: 3px 7px;
}

.content__trending-image .box:nth-child(1) .content {
    width: 80%;
    padding: 22px 20px;
}

.content__trending-image .box:nth-child(2) .content {
    width: 70%;
    padding: 14px 19px;
}

.content__trending-image .box:nth-child(1) .content h3 {
    font-size: 27px;
    font-weight: 500;
    line-height: 34px;
    color: #fff;
    font-family: roboto, sans-serif;
    margin: 5px 0 12px 0;
}

.content__trending-image .box:nth-child(2) .content h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    font-family: roboto, sans-serif;
    color: #fff;
    margin: 5px 0px 0px 0px;
}

.content__trending-image .box:nth-child(3) .content h3,
.content__trending-image .box:nth-child(4) .content h3 {
    margin: 7px 0 0 0;
}

.content__trending-image .box:nth-child(3) .content,
.content__trending-image .box:nth-child(4) .content {
    padding: 11px 15px;
}

.content__trending-image .box:nth-child(3) .content h3,
.content__trending-image .box:nth-child(4) .content h3 {
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    font-family: roboto, sans-serif;
    color: #fff;
}

.content__trending-image .box:first-child .content span span {
    font-size: 11px;
    font-weight: 700;
    font-family: open sans, open sans regular, sans-serif;
    background: none;
}

.content__trending-image .box:first-child .content span {
    font-size: 11px;
    color: #fff;
}

.content__miss-left ul li {
    display: inline-block;
    list-style: none;
}

.miss-top-title1 {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.miss-top-title1 p,
.miss-top-title2 p {
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 14px;
}

.miss-top-title1 p {
    background-color: #f9c100;
}

.miss-top-title2 p {
    background-color: black;
    color: #fff;
}

.miss-top-title2 {
    position: relative;
    display: flex;
}

.content__miss {
    display: flex;
    justify-content: space-between;
}

.miss-top-title1 ul li {
    font-size: 13px;
    color: gray;
    padding-right: 20px;
}

.miss-top-title1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 14px;
    background-color: #f9c100;
}

.lifestyle-title::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 14px;
    background-color: #3a863d;
}

.miss-top-title2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 14px;
    background-color: black;
}

.content__miss-left {
    flex-basis: 68%;
}

.content__miss-right {
    flex-basis: 32%;
    margin-left: 50px;
}

.miss-top-content {
    display: flex;
}

.miss-top-content .content-l {
    position: relative;
    width: 50%;
    overflow: hidden;
    justify-content: space-between;
}

.miss-top-content .content-l .img-l {
    background-image: url(img/item1.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-bottom: 80%;
}

.miss-top-content .content-r {
    width: 50%;
}


.miss-top-content .content-l img {
    position: absolute;
    width: 100%;
    object-fit: cover;
    height: auto;
}

.content-r {
    padding: 24px 0px 24px 24px;
}

.content-l {
    margin: 24px 24px 24px 0;
}

.content-r .content-r-child {
    padding-bottom: 8px;
    display: flex;
    margin-bottom: 10px;
}

.content-r .content-r-child .img-r {
    background-position: center;
    background-size: cover;
    padding-left: 30%;
    min-height: 76px;
}

.content-r .content-r-child .content-item {
    padding-left: 15px;
}

.content-r .content-r-child:nth-child(1) .img-r {
    background-image: url(img/item2.jpg);
}

.content-r .content-r-child:nth-child(2) .img-r {
    background-image: url(img/item3.jpg);
}

.content-r .content-r-child:nth-child(3) .img-r {
    background-image: url(img/item4.jpg);
}

.content-r .content-r-child:nth-child(4) .img-r {
    background-image: url(img/item5.jpg);
}


.content-r .content-r-child div p {
    font-size: 13px;
    font-weight: 600;
    margin: auto;
}

.content-r .content-r-child div span {
    font-size: 11px;
    color: gray;
}


.miss-top-content .content-l .img-l {
    position: relative;
}

.miss-top-content .content-l .miss-left-content h2 {
    font-weight: 450;
    margin: 13px 0;
    font-size: 21px;
}

.miss-top-content .content-l .miss-left-content span {
    font-size: 11px;
    color: gray;
}

.miss-top-content .content-l .miss-left-content span:first-child {
    font-weight: 700;
    color: black;
}

.miss-top-content .content-l .miss-left-content p {
    color: gray;
    font-size: 13px;
    line-height: 1.7;
}

.social-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.social-box span {
    font-size: 11px;
    font-weight: 700;
}

.social-box i {
    width: 40px;
    padding: 12px 0;
    margin-right: 10px;
    color: #fff;
    text-align: center;
}

.miss-social {
    padding: 24px 0;
}

.social-box:nth-child(1) div i {
    background-color: #516eab;
}

.social-box:nth-child(3) div i {
    background-color: #e14e42;
}

.social-box:nth-child(2) div i {
    background-color: #29c5f6;
}

.miss-right-content-stay .adver {
    margin-left: 20px;
    text-align: center;
    margin-top: 18px;
}

.miss-right-content-stay .adver span {
    font-size: 11px;
    color: gray;
}

.miss-right-content-stay .adver img {
    margin-top: 3px;
    max-width: 300px;
}

.lifestyle-title ul {
    transform: translateX(20px);
}

.lifestyle-title p {
    background-color: #3a863d;
    color: #fff;
}

.life-content {
    display: flex;
    margin-top: 15px;
}



.left-life-img1 {
    background-image: url(img/life1.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-bottom: 50%;

}

.left-life-img2 {
    background-image: url(img/life2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-bottom: 50%;
}

.left-life-ct h2,
.content-holiday h2,
.training__content-child .content h2,
.left__latest .left__latest-content .child h2 {
    font-weight: 450;
    margin: 13px 0;
    font-size: 21px;
}

.left-life-ct span,
.content-holiday span,
.training__content-child .content span,
.left__latest .left__latest-content .child span,
.drop-1 .box .box-2 span,
.drop-2 .box .child span {
    font-size: 11px;
    color: gray;
}

.left-life-ct span:first-child,
.content-holiday span:first-child,
.training__content-child .content span:first-child {
    font-weight: 700;
    color: black;
}

.left-life-ct p,
.content-holiday p,
.training__content-child .content p {
    color: gray;
    font-size: 13px;
    line-height: 1.7;
}

.life-content-left {
    margin-right: 48px;
}

.title-model {
    margin-top: 30px;
}

.left-life-img1,
.left-life-img2 {
    position: relative;
}

.left-life-img1 a,
.left-life-img2 a,
.img-right-holiday a,
.left__house-child a,
.left__latest-content .child .img a,
.miss-top-content .content-l .img-l a,
.drop-1 .box .box-2 .child .img a,
.drop-2 .box .child .img a {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 10px;
    color: #fff;
    padding: 2px 5px;
    text-decoration: none;
    background-color: black;
    font-weight: 600;
}

.model-content-child p {
    font-size: 13px;
    font-weight: 600;
}

.model-content {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 10px;
}

.model-content .model-content-child .img {
    position: relative;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-bottom: 70%;
}


.model-content .model-content-child .img a {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 10px;
    color: #fff;
    padding: 2px 5px;
    text-decoration: none;
    background-color: black;
    font-weight: 600;
}

.life-child {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    column-gap: 30px;
}

.life-child p,
.right__most-content .child .ct p {
    font-size: 13px;
    font-weight: 600;
}

.life-child span,
.right__most-content .child .ct span {
    font-size: 11px;
    color: gray;
}

.life-item {
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center;
}

.life-item img {
    width: 33%;
    height: auto;

}

.life-item .content {
    width: 67%;
    margin-left: 15px;
}

.life-item .content p {
    margin: 0;
}

.life-next {
    margin-top: 30px;
}

.home-title {
    margin-top: 30px;
}

.home-title p {
    background-color: #5d7987;
    color: #fff;
}

.home-title::before {
    background-color: #5d7987;
}

.t-model {
    margin-top: 10px;
}

.content__miss-right .adver {
    margin-left: 20px;
    text-align: center;
    margin-top: 18px;
}

.content__miss-right .adver span {
    font-size: 11px;
    color: gray;
}

.content__miss-right .adver img {
    margin-top: 3px;
}

.name-holiday {
    margin-top: 20px;
}

.name-holiday p {
    background-color: #8954c1;
}

.name-holiday::before {
    background-color: #8954c1;
}

.content-holiday .img-right-holiday {
    background-image: url(img/chocolate.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-bottom: 50%;
    margin-top: 15px;
}

.img-right-holiday {
    position: relative;
}

.t-holiday {
    margin-top: 20px;
}

.left__house-child h5,
.drop-1 .box .box-2 h5,
.drop-2 .box h5 {
    font-weight: 500;
    font-size: 14px;
    margin: 12px 0;
}

.left__house {
    margin-top: 10px;
}

.parent__house {
    display: flex;
    justify-content: space-between;
}

.left__house .left__house-child .img1 {
    background-image: url(img/house1.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-bottom: 70%;
    position: relative;
}

.left__house .left__house-child .img2 {
    background-image: url(img/house2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-bottom: 70%;
    position: relative;
}

.left__house .left__house-child .img3 {
    background-image: url(img/house3.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-bottom: 70%;
    position: relative;

}

.left__house .left__house-child:nth-child(1),
.left__house .left__house-child:nth-child(2),
.left__house .left__house-child:nth-child(3) {
    width: 31.5%;
}

.left__house .title-next {
    margin-top: 10px;
}

.title-train p {
    background-color: black;
    color: #fff;
}

.title-train::before {
    background-color: black;
}

.left__training {
    margin-top: 40px;
    overflow-y: auto;
    max-height: 130vh;

}

.training__content-child .img {
    background-position: center;
    background-size: cover;
    width: 85%;
    margin-right: 30px;
    padding-bottom: 23%;

}

.training__content-child:nth-child(1) .img {
    background-image: url(img/train1.jpg);
}

.training__content-child:nth-child(2) .img {
    background-image: url(img/train2.jpg);
}

.training__content-child:nth-child(3) .img {
    background-image: url(img/train3.jpg);
}

.training__content-child:nth-child(4) .img {
    background-image: url(img/train4.jpg);
}

.training__content-child {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.training__content-child h2 {
    margin: 0px !important;
}

.adver__center {
    margin-top: 40px !important;
    text-align: center;
}

.content .adver__center p {
    font-size: 11px;
    color: gray;
    margin: 5px;
}

.left__latest {
    max-height: 110vh;
    overflow-y: auto;
}

.content__miss-left .left__latest,
.content__miss-right .right__most {
    margin-top: 30px;
}

.content__miss-left .left__latest .miss-top-title1 p,
.content__miss-right .right__most .miss-top-title1 p,
.right__recent .miss-top-title1 p {
    color: #fff;
    background-color: black;
}

.content__miss-left .left__latest .miss-top-title1::before,
.content__miss-right .right__most .miss-top-title1::before,
.right__recent .miss-top-title1::before {
    background-color: black;
}

.left__latest .left__latest-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 30px;
    margin-top: 15px;
}

.left__latest .left__latest-content .child .img {
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-bottom: 50%;
    position: relative;
}

.model-content .model-content-child:nth-child(1) .img {
    background-image: url(img/md1.jpg);
}

.model-content .model-content-child:nth-child(2) .img {
    background-image: url(img/md2.jpg);
}

.model-content .model-content-child:nth-child(3) .img {
    background-image: url(img/md3.jpg);
}

.model-content .model-content-child:nth-child(4) .img {
    background-image: url(img/md4.jpg);
}

.left__latest .left__latest-content .child h2 {
    margin-bottom: 0;
}

.left__latest .left__latest-content .child:nth-child(1) .img {
    background-image: url(img/late1.jpg);
}

.left__latest .left__latest-content .child:nth-child(2) .img {
    background-image: url(img/late2.jpg);
}

.left__latest .left__latest-content .child:nth-child(3) .img {
    background-image: url(img/late3.jpg);
}

.left__latest .left__latest-content .child:nth-child(4) .img {
    background-image: url(img/late4.jpg);
}

.left__latest .left__latest-content .child:nth-child(5) .img {
    background-image: url(img/late5.jpg);
}

.left__latest .left__latest-content .child:nth-child(6) .img {
    background-image: url(img/late6.jpg);
}

.left__latest .left__latest-content .child:nth-child(7) .img {
    background-image: url(img/late7.jpg);
}

.left__latest .left__latest-content .child:nth-child(8) .img {
    background-image: url(img/late8.jpg);
}

.right__most-content .child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right__most-content .child .img {
    background-position: center;
    background-size: cover;
    width: 45%;
    padding-bottom: 22%;
}

.right__most-content .child:nth-child(1) .img {
    background-image: url(img/most1.jpg);
}

.right__most-content .child:nth-child(2) .img {
    background-image: url(img/most2.jpg);
}

.right__most-content .child:nth-child(3) .img {
    background-image: url(img/most3.jpg);
}

.right__most-content .child .ct p {
    margin-top: 0;
    margin-bottom: 5px;
}

.right__most-content .child {
    margin-bottom: 25px;
}

.right__most-content .child .ct {
    margin-left: 15px;
}

.right__most-content {
    margin-top: 15px;
}

.right__recent {
    margin-top: 30px;
}

.right__recent .content p {
    font-size: 12px;
    line-height: 1.3rem;
    letter-spacing: 0.2px;
    padding-bottom: 10px;
}

.right__recent .content p span {
    font-weight: 600;
    font-style: italic;
    font-size: 13px;
}

.paginate span {
    color: #6F6F6E;
    font-size: 11px;
    padding: 8.5px 13px;
    border: 1px solid #cfcbcb;
    text-align: center;
    line-height: 33.67px;
    margin-right: 5px;
}

.paginate {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.paginate span:nth-child(1) {
    background-color: #4db2ec;
}

.paginate span:nth-child(4) {
    border: none;
}

.paginate p {
    font-size: 11px;
    color: #6F6F6E;
}

.footer {
    margin-top: 50px;
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url(img/trendingr1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}

.footer .container .box-1 {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 30px;
}

.footer .container .box-1 .box-child:nth-child(3) .child {
    display: flex;
    justify-content: space-between;

}

.footer .container .box-1 .box-child:nth-child(3) .child p {
    font-size: 14px;
    margin: 7px 0;
}

.footer .container .box-1 .box-child {
    flex: 1;

}

.footer .container .box-1 .box-child h2,
.footer .container .box-2 .child h2 {
    font-size: 18px;
    color: #fff;
}

.footer .container .box-1 .box-child .right__most-content .child p {
    color: #fff;
}

.footer .container .box-1 .box-child .child p {
    color: #fff;
}

.footer .container .box-2 .child {
    color: #fff;
    flex: 1;
}

.footer .container .box-2 {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
}

.footer .container .box-2::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    top: 0;
    transform: translateX(100px);
}

.footer .container .box-2 .child:nth-child(1) img {
    position: absolute;
    object-fit: cover;
    max-width: 70%;

}

.footer .container .box-2 .child:nth-child(1) {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .container .box-2 .child p {
    font-size: 13px;
    line-height: 1.5rem;
}

.footer .container .box-2 .child p a {
    color: #1aa4ce;
}

.footer .container .box-2 .child .icon i {
    width: 39.2px;
    height: 39.2px;
    margin: 5px 10px 5px 0;
    background: rgba(255, 255, 255, 0.03);
    text-align: center;
    line-height: 39.2px;
    border: 1px solid rgba(255, 255, 255, 0.03);
}

.footer-under ul li,
.footer-under p {
    display: inline-block;
    list-style: none;
    color: #fff;
    font-size: 11px;
}

.footer-under {
    background-color: black;
}

.footer-under .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-under .box ul,
.footer-under .box p {
    margin: 0;
}

.footer-under .box ul li {
    padding: 13px 10px;
}

/* Tag */
#td-theme-demos-button {
    top: 84px;
    background: #fff;
}

#td-theme-demos-button:hover {
    color: #4db2ec;
    border-color: rgba(77, 178, 236, .3)
}

#td-theme-services-button {
    top: 120px;
    background: #fff;
}

#td-theme-services-button:hover {
    color: #4db2ec;
    border-color: rgba(77, 178, 236, .3);
}

#td-theme-buy-button {
    top: 156px;
    background: #f4f4f4;
}

.td-right-demos-button {
    font-family: open sans, open sans regular, sans-serif;
    position: fixed;
    right: -1px;
    z-index: 10000;
    border: 1px solid #e8e8e8;
    color: #000;
    text-align: center;
    font-size: 10px;
    line-height: 31px;
    width: 76px;
    transition: all .15s ease;
    text-decoration: none;
}

#td-theme-buy-button:hover {
    color: #4db2ec;
    border-color: rgba(77, 178, 236, .3);
    background-color: rgba(77, 178, 236, .15);
}

html {
    scroll-behavior: smooth;
}

.lentop {
    cursor: pointer;
    position: fixed;
    bottom: 4px;
    right: 5px;
    width: 40px;
    height: 40px;
    background-color: #4db2ec;
    transition: .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.lentop i {
    color: #fff;
    font-size: 20px;
}

.header__mid i {
    display: none;
    cursor: pointer;
}

.content__miss-left .miss-top-title1 ul#second {
    display: none;
}

.first__column .lifestyle-title ul#s {
    display: none;
}
.header__mid input {
    display: none;
}
.header__mid .modal h2, .header__mid .modal ul{
    display: none;
}
/* Mobile */
@media (max-width: 740px) {

    .td-right-demos-button,
    .header__top,
    .header__mid .header__mid-banner2,
    .header__bottom,
    .lentop,
    .content__trending .content__trending-title .title-next {
        display: none;
    }

    .header__mid .header__mid-banner1 .img {
        text-align: center;
        background-image: url(img/footer.jpg);
        transform: translateY(-20px) scale(.5);
        line-height: 54px;
        padding-bottom: 20px;
        padding-left: 50%;
        width: 100%;
        box-sizing: border-box;

    }

    .header__mid {
        justify-content: center;
        background-color: black;
        padding: 0;
        padding-left: 20px;
        padding-right: 20px;

    }

    .header__mid .header__mid-banner1 {
        width: 100%;
        max-height: 54px;
    }

    .content__trending .content__trending-title .title-trend {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content__trending .content__trending-title .title-trend span:nth-child(2) {
        margin-top: 10px;
        font-size: 14px;
    }

    .content__trending-title {
        justify-content: center;
    }

    .header__mid i {
        display: block;
        color: #fff;
        font-size: 25px;
        width: 40px;
        height: 54px;
        text-align: center;
        line-height: 54px;
        box-sizing: border-box;
    }

    .content__trending-title {
        padding: 15px 20px 15px 20px;
    }

    .content__trending-image {
        grid-template-rows: 350px 200px;
    }

    .content__trending-image .box:nth-child(1) .content {
        width: 90%;

    }

    .content__trending-image .box:nth-child(3) .content,
    .content__trending-image .box:nth-child(2) .content,
    .content__trending-image .box:nth-child(4) .content {
        width: 100%;
    }

    .content__trending-image .box:nth-child(1) .content h3 {
        font-size: 23px;
    }

    .content__trending-image .box:nth-child(2) .content h3,
    .content__trending-image .box:nth-child(3) .content h3,
    .content__trending-image .box:nth-child(4) .content h3 {
        font-size: 17px;
    }


    .content__trending-image .box:nth-child(1) {
        grid-area: 1/1/2/5;
    }

    .content__trending-image .box:nth-child(2) {
        grid-area: 2/1/3/4;
    }

    .content__miss,
    .miss-top-content {
        display: block;
    }

    .content__miss {
        padding-left: 20px;
        padding-right: 20px;
    }

    .content__miss-left .miss-top-title1 ul#second {
        display: block;
    }

    .content__miss-left .miss-top-title1 ul#first {
        display: none;

    }

    .content__miss-left .miss-top-title1 ul#second li:nth-child(2) {
        position: relative;
    }

    .content__miss-left .miss-top-title1 ul#second li {
        padding-right: 10px;
        box-sizing: border-box;
    }

    .content__miss-left .miss-top-title1 ul#second li ul {
        position: absolute;
        list-style: none;
        top: 24px;
        right: 0;
        width: 140px;
        padding: 6px 0 8px;
        padding-left: 0;
        background-color: #fff;
        background-color: rgba(255, 255, 255, .95);
        z-index: 999;
        border-width: 0 1px 1px;
        border-color: #ededed;
        border-style: solid;
        flex-direction: column;
        box-sizing: border-box;
        text-align: end;
        display: none;
    }

    .content__miss-left .miss-top-title1 ul#second li:nth-child(2):hover {
        background-color: rgb(249, 193, 0);
        height: 21.5px;
        color: #fff;
        cursor: pointer;
    }

    .content__miss-left .miss-top-title1 ul#second li:nth-child(2):hover ul {
        display: flex;
    }

    .miss-top-content .content-l,
    .miss-top-content .content-r {
        width: 100%;
    }

    .miss-top-content .content-l {
        margin: 0;
    }

    .miss-top-content .content-r {
        padding: 0;
    }

    .miss-top-content .content-l .miss-left-content .title-next {
        display: none;
    }

    .first__column,
    .left__training,
    .left__latest {
        overflow: hidden;
        max-height: 100%;
    }

    .first__column .lifestyle-title ul#s,
    .life-content,
    .life-child,
    .parent__house,
    .left__latest .left__latest-content,
    .footer .container .box-1,
    .footer .container .box-2 {
        display: block;
    }

    .first__column .lifestyle-title ul#f {
        display: none;
    }

    .first__column .lifestyle-title ul#s li:nth-child(2) {
        position: relative;
    }

    .life-content-left {
        margin-right: 0;
    }

    .life-item {
        margin-top: 20px;
    }

    .left__house .left__house-child {
        margin-bottom: 20px;
    }

    .left__house .left__house-child:nth-child(1),
    .left__house .left__house-child:nth-child(2),
    .left__house .left__house-child:nth-child(3) {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .left__house .left__house-child .img1,
    .left__house .left__house-child .img2,
    .left__house .left__house-child .img3 {
        width: 30%;
        padding-bottom: 22%;
    }

    .left__house .left__house-child h5,
    .left__house .left__house-child .h5,
    .left__house .left__house-child .h5 {
        width: 70%;
        margin-left: 10px;
    }

    .training__content-child .content p {
        display: none;
    }

    .training__content-child .content h2 {
        font-size: 14px;
        font-weight: 500;
    }

    .training__content {
        margin-top: 10px;
    }

    .left__training {
        margin-top: 20px;
    }

    .content__miss-right {
        margin-left: 0;
    }

    .content__miss-right .adver {
        display: none;
    }

    .adver__center {
        padding-left: 20px;
        padding-right: 20px;
    }

    .adver__center img {
        width: 100%;
    }

    .left__latest-content .child {
        margin-bottom: 30px;
    }

    .paginate {
        margin-top: 30px;
    }

    .paginate .box span:nth-child(4),
    .paginate .box span:nth-child(5),
    .paginate p {
        display: none;
    }

    .footer {
        padding-left: 20px;
        padding-right: 20px;
        ;
    }

    .footer .container .box-2 {
        justify-content: center;
    }

    .footer .container .box-2 .child {
        margin-bottom: 80px;
    }

    .footer .container .box-2 .child:nth-child(1) {
        margin-bottom: 100px;
    }

    .footer .container .box-2 .child:nth-child(2) h2,
    .footer .container .box-2 .child:nth-child(3) h2,
    .footer .container .box-2 .child:nth-child(3) .icon {
        text-align: center;
    }

    .footer-under .box {
        display: block;
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer-under .box ul li {
        padding: 10px 5px;
    }

    .footer-under .box ul,
    .footer-under .box p {
        padding: 10px 5px;
    }

    html {
        overflow-x: hidden;
    }

    .header__mid .modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(img/header.jpg);
        background-position: center;
        background-size: cover;
        z-index: 100;
        transform: translateX(-100%);
        transition: transform .5s cubic-bezier(.79,.14,.15,.86);
    }

    .modal i {
        position: absolute;
        right: 0;
        box-sizing: border-box;
    }

    .header__mid input:checked~.modal {
        transform: translateX(0);
    }
    .header__mid .modal h2, .header__mid .modal ul{
        display: block;
        color: #fff;
    }
    .header__mid .modal ul li {
        list-style: none;
    }
    .header__mid .modal h2 {
        margin-top: 100px;
        text-align: center;
    }
}